body{
  margin: 0px;
}
*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
  height: 135px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  padding-top: 14px;
  align-items: center;
  /* position: fixed;
  z-index: 500;
  width: 100%; */
  
}
.column-header img{
  width: 140px;
  height: 100px;
  
}
.row-header{
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  FONT-SIZE: smaller;
  FONT-STYLE: italic;
  FONT-WEIGHT: bold;
}

nav ul{
  list-style: none;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
li{
 
  padding: 14px;
  margin-top: 33px;
  }
.icons{
  padding-right: 12px;

}
span{
  font-family: monospace;
  font-size: large;
  margin-left: -4px;
}
i{
  margin-left: -1px;
}
.icons img{
width: 23px;
height: 12px;
margin-left: 6px;
}
.us{
  margin-left: 0px;
}
.row-header1{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  height: 17px;
}
.fa-phone,.fa-envelope{
  
  font-size: small;
  margin: 5px;

}
.circle{
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 6px 6px 0px #00000033;
}
.column-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main{
  height: 1500px;
  background: whitesmoke;
}
#slider{
  width: 70px;
  height: 900px;
  position: relative;
}
#slider img{
  width: 1265px;
  height:700px

}
.next{
  position: absolute;
  top: 35%;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px 8px 8px 8px;
  font-size: larger;
  border: 1px solid black;
  color: #121111;
  background-color: darkgrey;
}
.previouse{
  position: absolute;
  top: 35%;
  left: 1205px;
  width: 40px;
  height: 40px;
  border-radius: 8px 8px 8px 8px;
  font-size: larger;
  border: 1px solid black;
  color: #121111;
  background-color: darkgrey;
}
footer{
  height: 160px;
  background: black;
}